# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/1Semester/9homework/9.1/build/
/1Semester/9homework/9.1/dist/
/1Semester/NewFolder/10.1/build/
/1Semester/NewFolder/10.1/dist/
/1Semester/6homework/6.4/build/
/1Semester/10homework/10homework/build/
/1Semester/10homework/10homework/dist/